postgres:
    image: postgres:9.5
    environment:
        - PGDATA=/var/lib/postgresql/data/9.5
        - POSTGRES_PASSWORD=$DB_PASSWORD
        - POSTGRES_USER=$DB_USER
        - POSTGRES_DB=$DB_NAME
#    env_file: ./conf/.env
fpm:
    build: .
    env_file: ./conf/.env
    links:
        - postgres
    volumes:
        - ./conf/php.ini:/usr/local/etc/php/conf.d/php.ini:ro
        - ./:/var/www/project/
nginx:
    image: nginx:latest
    ports:
        - "80:80"
    links:
        - fpm
    volumes:
        - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf:ro
        - ./:/var/www/project/